@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --color-bg: rgba(27, 26, 26, 0.835);
  --color-bg-variant: rgba(33, 31, 31, 0.581);
  --color-primary: rgba(118, 109, 198, 0.911);
  --color-primary-variant: rgba(101, 7, 7, 0.313);
  --color-white: white;
  --color-light: rgba(203, 200, 200, 0.498);
  --transition: all 400ms ease;
  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-sm:90%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(360deg,rgb(3, 1, 10),#330e4d);
  color: var(--color-white);
  line-height: 1.7;
}

html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
.container{
  width: var(--container-width-lg);
  margin: 0 auto;

}


h1,h2,h3,h4,h5{
  font-weight: 500;
  font-size: 1.2rem;
}

h1{
  font-size: 2.5rem;
}
section{
  margin-top: 10rem;
  height: 100vh;
}
section> h2, section> h5{
  text-align: center;
  color: var(--color-light);

}
section> h2{
  margin-bottom: 3rem;
  color: var(--color-primary);
  
}
.text-light{
  color: var(--color-light);
}
a{
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover{
  color: var(--color-white);
}







@media (max-width:1024px){
  .container{
    width: var(--container-width-md);}
    section>h2{
      margin-top: 8 rem;
    }
  
}
@media  (max-width:980px){
  .container{
    width: var(--container-width-sm);
  }
    section>h2{
      margin-bottom: 2rem;
    }
}




















.btn-primary {
  padding: 0.8em 1.8em;
  border: 2px solid rgb(7, 1, 23);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: rgb(7, 1, 23);
 }
 
 .btn-primary::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: rgb(7, 1, 23);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .btn-primary:hover::before {
  width: 105%;
 }
 
 .btn-primary:hover {
  color: white;
 }
 